:root {
  --clr-post-bg-primary: #1c1e24;
  --clr-post-primary: #1c1e24;
  --clr-post-secondary: #515769;
  --clr-text-primary: #c2c2c2;
  --clr-text-secondary: #9f9f9f;
  --clr-tags-primary: #797b94;
  --clr-likes-primary: #d34446;
  --clr-border-primary: #5b5b5b;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Mukta Vaani", sans-serif;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;
  margin: 0;
  background-color: var(--clr-post-primary);
}

.main-wrapper-post {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-post-bg-primary);
  border-style: solid;
  border-color: var(--clr-border-primary);
}

#like_symbol,
#comments-symbol {
  margin: 5px;
  align-self: center;
  width: auto;
}

#like_number,
#post-title,
#post-op,
#time-posted {
  align-self: flex-start;
  margin: 0px;
  padding: 2px;
}

#time-posted {
  font-size: small;
}

#like_number {
  align-self: center;
}

#post-title {
  text-align: left;
}

.like-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--clr-post-secondary);
}

.post-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--clr-post-secondary);
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .main-wrapper-post {
    max-width: 520px;
  }
}
